<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
</head>
<body>
<h1>Editar Persona</h1>
<form method="POST">
    {{forma.csrf_token}}
    <p>
        {{forma.nombre.label}} <br/>
        {{forma.nombre(size=30)}}
    </p>
    <p>
        {{forma.apellido.label}} <br/>
        {{forma.apellido(size=30)}}
    </p>
    <p>
        {{forma.email.label}} <br/>
        {{forma.email(size=30)}}
    </p>
    <p>
        {{forma.enviar()}}
    </p>
</form>
</body>
</html>