<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Personas</title>
</head>
<body>
<h1>Sistema de Administración de Personas (SAP)</h1>
<div>
    Total de personas: {{total_personas}}
</div>
<div>
    <a href="/agregar">Agregar Persona</a>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.email}}</td>
                    <td><a href="ver/{{persona.id}}">Ver</a></td>
                    <td><a href="editar/{{persona.id}}">Editar</a></td>
                    <td><a href="eliminar/{{persona.id}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>